:root {
	--main-bg-color: #0d0d0d;
	--yellow-0: #fdf8e1;
	--yellow-1: #fcefb4;
	--yellow-2: #fae588;
	--yellow-3: #f9dc5c;
	--yellow-4: #211f18;
	--yellow-5: #1d1b14;
}

body {
	background: linear-gradient(180deg, var(--yellow-4) 0%, var(--main-bg-color) 100%);
	width: 100vw;
}

.center {
	margin-left: auto;
	margin-right: auto;
	max-width: 100rch;
	padding-left: 4rem;
	padding-right: 4rem;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 1.17rem;
	color: var(--yellow-0);
	position: sticky;
	top: 1.5rem;
}

.navbar a {
	display: inline-block;
	position: relative;
	background-color: rgba(255, 255, 255, 0);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(10px);
	padding: 0.7rem;
	border-style: solid;
	border-radius: 1rem;
	overflow: hidden;
}

.navbar a:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 4px;
	bottom: 0px;
	left: 0;
	background-color: var(--yellow-0);
	transform-origin: bottom right;
	transition: transform 0.15s ease-out;
}

.navbar a:not(.selected-navbar):hover {
	font-weight: bold;
}

.navbar a:not(.selected-navbar):hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.selected-navbar {
	color: var(--yellow-3);
	text-decoration: underline;
	font-weight: bold;
}

h2 {
	color: var(--yellow-1);
}
h1 {
	color: var(--yellow-0);
	font-size: 2rem;
}

.hero {
	aspect-ratio: 1.6/1;
	width: 70%;
	border-radius: 30%/50%;
	float: right;
	position: relative;
	top: -17rem;
	z-index: -1;
	filter: brightness(50%);
}

.no-top-bottom-margin {
	margin-top: 0;
	margin-bottom: 0;
}

section {
	border-right-style: solid;
	border-right-width: 4px;
	border-radius: 1rem;
	border-color: var(--yellow-1);
}

ul li {
	display: inline;
	color: var(--yellow-0);
	font-size: 2rem;
}

ul {
	padding: 0;
}

.spacer {
	height: 25vh;
}

@media (width < 768px) {
	html {
		font-size: 62.5%;
	}

	.ignore-on-mobile {
		display: none;
	}

	.hero {
		top: -14rem;
	}
}
